@model GigHub.ViewModels.GigsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <ul class="gigs">
        @if (Model.UpcomingGigs.Count() < 1)
        {
            <p>You've not shown interest in any gig so far!</p>
        }
        else
        {
            foreach (var gig in Model.UpcomingGigs)
            {
                <li>
                    <div class="date">
                        <div class="month">
                            @gig.DateTime.ToString("MMM")
                        </div>
                        <div class="day">
                            @gig.DateTime.ToString("d ")
                        </div>
                    </div>
                    <div class="details">
                        <span class="artist">
                            @gig.Artist.Name
                            @if (Model.ShowActions)
                            {
                                <span class="follow-link"><a data-artist-id="@gig.ArtistId" class="js-toggle-follow" href="#">Follow</a></span>
                            }
                        </span>
                        <span class="genre">
                            @gig.Genre.Name
                        </span>
                        @if (Model.ShowActions)
                        {
                            <button data-gig-id="@gig.Id"
                                    class="
                    js-toggle-attendance
                    btn
                    btn-default
                    btn-xsm pull-right">
                                Going ?
                            </button>
                        }

                    </div>

                </li>
            }
        }

    </ul>
