@model GigHub.ViewModels.GigsDetailViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="detail">
        <span class="artist-name">@Model.Gig.Artist.Name</span>
        @if (User.Identity.IsAuthenticated)
        {
            <button data-artist-id="@Model.Gig.ArtistId"
                    class="
                        follow-link
                        js-toggle-follow
                        btn
                        btn-xsm
                        @(Model.IsFollowingGigArtist ? "btn-info" : "btn-default")
                        ">
                @(Model.IsFollowingGigArtist ? "Following" : "Follow")
            </button>

        }

        <p>Performing at @Model.Gig.Venue on @Model.Gig.DateTime.ToShortDateString() @Model.Gig.DateTime.ToShortTimeString()</p>

        @if (User.Identity.IsAuthenticated)
        {
            if (Model.IsAttendingGig)
            {
                <p>You are going to this event</p>
            }
            else
            {
                <p>You are not going to this event</p>
            }
        }

    </div>

<div>
    @Html.ActionLink("Back to Gigs", "Index", "Home", null, new { @class = "btn btn-primary" })
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            
            FollowingController.init();
        });;
    </script>
}